<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

<!-- 타입 알리아스 각자 추가  -->
	<typeAliases>
		<typeAlias type="com.nike.geo.vo.appr.Ap_DocuVo" alias="Ap_DocuVo"/>
	</typeAliases>

	<mappers>
		<mapper resource="sqls/Approval_Statement.xml"/>
		<mapper resource="sqls/Board_Statement.xml"/>
		<mapper resource="sqls/Cal_Statement.xml"/>
		<mapper resource="sqls/Hr_Statement.xml"/>
		<mapper resource="sqls/Msg_Statement.xml"/>
		<mapper resource="sqls/User_Statement.xml"/>
	</mappers>
</configuration>
