 /* Flexbox 스타일 추가 */
        .button-container {
            display: flex;
            align-items: center; /* 세로 중앙 정렬 */
            gap: 10px; /* 버튼 간의 간격 조정 */
            margin-bottom: 15px;
        }
        .button-container form {
            margin: 0; /* form 기본 여백 제거 */
        }

/* 댓글  */
.comment {
    margin-left: 20px; /* 댓글 왼쪽에 20px 여백 추가 */
}
 #commentSection {
        border-top: 1px solid #ddd;
        padding-top: 20px;
    }
    #commentSection p {
        margin: 10px 0;
    }
    .comment-form textarea {
        width: 100%;
        height: 100px;
        border-radius: 5px;
        border: 1px solid #ddd;
        padding: 10px;
        box-sizing: border-box;
    }
    .comment-form input[type="submit"] {
        background-color: #007bff;
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        transition: background-color 0.3s;
    }
    .comment-form input[type="submit"]:hover {
        background-color: #0056b3;
    }
/* 파일  */
.file-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block; /* 콘텐츠 크기에 맞게 카드 크기 조정 */
    max-width: 100%; /* 최대 너비를 부모 요소에 맞게 조정 */
    word-wrap: break-word; /* 긴 단어가 카드 크기를 초과하지 않도록 줄바꿈 */
}

.file-card button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; /* 버튼과 텍스트 사이의 간격 추가 */
}

.file-card button:hover {
    background-color: #218838;
}

    /*헤더*/
     .post-container {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        margin: 20px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .post-title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }
    .post-info {
        font-size: 14px;
        color: #777;
        margin-bottom: 20px;
    }
    .post-content {
        font-size: 16px;
        line-height: 1.6;
        color: #444;
    }