@charset "UTF-8";

input[type="checkbox"]  {
    position: relative; /* 상대 위치로 설정 */
    top: -1.5px;
}
label{
	position: relative; /* 상대 위치로 설정 */
    top: -720px;
}
#calendar {
	width: 800px;
	height: 800px;
	margin: auto;
}

  body { /* 보기 편한 화면 구성을 위해 css추가 */
        margin: 40px 10px; 
        padding: 0; 
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif; 
        font-size: 14px; 
    } 

    #calendar { /* 보기 편한 화면 구성을 위해 css추가 */
      max-width: 1100px;
      margin: 40px auto;
    }
    
    .koHolidays{
    	pointer-events: none;
    }

/* calendar.html */

.fc-col-header-cell-cushion, .fc-daygrid-day-number {
    text-decoration: none;
}

.fc-scrollgrid-sync-inner > .fc-col-header-cell-cushion,
.fc-day-mon .fc-daygrid-day-number,
.fc-day-tue .fc-daygrid-day-number,
.fc-day-wed .fc-daygrid-day-number,
.fc-day-thu .fc-daygrid-day-number,
.fc-day-fri .fc-daygrid-day-number {
    color: black;
}

.fc-day-sun .fc-col-header-cell-cushion,
.fc-day-sun a{
    color : red;
}

.fc-day-sat .fc-col-header-cell-cushion,
.fc-day-sat a {
    color : blue;
}    
